<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
    </div>
    {% include button.html text="Twitter" icon="twitter" link="https://twitter.com/moralejandrog" %} {% include button.html text="GitHub" icon="github" link="https://github.com/MoralG" %} {% include button.html text="Apoyame 💸" link="https://paypal.me/MoralG?locale.x=es_ES" color="#333333" %}

    {% include nav-footer.html %}
  </div>
</footer>
